default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: {{database_user}}
  password: {{database_password}}

development:
  <<: *default
  database: {{database_name}}

test:
  <<: *default
  database: chatarc_test
